*{
	margin: 0;
	padding: 0; 
}

body{
	font-size: 1em;
	font-family: "Trebuche MV", Helvetica, sans-serif;
	background-image: url(imagens/back.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#navmenu{
	float: right;
}

.dropdown{
	display: inline;
}

/*INICIO ESTILO FORMULÁRIO Fornecedores*/
#forn{
	background-color: rgb(0, 0, 0);
	margin-top: 50px;
	margin-left: 32%;
	margin-right: 32%;
	margin-bottom: auto;
	padding: 20px 6px 20px 6px;
	border-radius: 5px;
	font-size:14px;
	color: #cceeff;
	text-align: center;
	opacity: .80;
}
  
#pag{
	background-color:#696969;
	color: white;
	font-size: 15;
	padding: 6px;
	border-style: solid;
	border-color:#cceeff;
	width: 100px;
	height: 20px;
}

#consultar{
	background-color: #0000ff;
	width: 75px;
	border-radius: 3px ;
	margin-top: 20px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 30px;
  	font-size: 15px;
  	color: antiquewhite;
}

#adicionar{
	background-color: #0000ff;
	width: 75px;
	border-radius: 3px ;
	margin-top: 20px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 30px;
  	font-size: 15px;
  	color: antiquewhite;
}

#excluir{
	background-color: #0000ff;
	width: 75px;
	border-radius: 3px ;
	margin-top: 20px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 30px;
  	font-size: 15px;
  	color: antiquewhite;
}

#alterar{
	background-color: #0000ff;
	width: 75px;
	border-radius: 3px ;
	margin-top: 20px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 30px;
  	font-size: 15px;
  	color: antiquewhite;
}
/*FIM ESTILO FORMULÁRIO Fornecedores*/
